<%- include('_layouts/header'); -%>
</div>
</div>
</div>

<!--主要內容-->
<main>
    <section class="backImage">
        <div class="filter"></div>
         <h3>來場輕鬆愜意的休閒時光體驗吧<br/>各種極具特色的休閒農場等著您</h3>
         <button class="start" onclick="window.location='/articles'">Let's go</button>         
    </section>  
</main>


<%- content %> 

<%- include('_layouts/footer'); -%>