<%- include('_layouts/header'); -%>

<h1>登入<%= title %></h1>

<form method="post" action="/users/login">
    <div class="form-group">
        <label>使用者名稱(ID)</label>
        <input type="text" name="username" class="form-control" placeholder="Username">
    </div>

    <div class="form-group">
        <label>密碼(Password)</label>
        <input type="password" name="password" class="form-control" placeholder="Password">
    </div>

    <button type="submit" class="btn btn-default">登入</button>
</form>

<%- include('_layouts/footer'); -%>